# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Slow Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main", "dev" ]

jobs:
  test:
    name: Slow Tests
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.10"]

    steps:
    - uses: actions/checkout@v4
    - name: Set up python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Python info
      run: python --version

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools
        pip install -r requirements-tests.txt
        pip install -r requirements-assignment.txt
        pip install -r requirements-hebo.txt
        pip install -r requirements-ota.txt
        pip install -e .[arch_sbo,botorch,trieste,tpe,rocket,egor]
        pip install jupyter ipython ipykernel
        ipython kernel install --name "python3" --user

    - name: List dependencies
      run: |
        pip freeze > requirements-all.txt
    - name: Check dependency licenses
      id: license_check_report
      uses: pilosus/action-pip-license-checker@v2
      with:
        requirements: 'requirements-all.txt'
        fail: 'StrongCopyleft'
    - name: Print license report
      if: ${{ always() }}
      run: echo "${{ steps.license_check_report.outputs.report }}"

    - name: Test with pytest
      run: RUN_SLOW_TESTS=1 pytest sb_arch_opt --durations=0
